* {
    margin: 0;
    padding: 0;
}
header {
    background-image: url(../images/header.jpg);
    background-size: cover;
    height: 400px;
    color: #fff;
    text-align: right;
}
header h1,
header h3 {
    margin-top: 6%
}
header h3 {
    margin-top: %
}
.small {
    background-color: #d1d5d6;
    border-bottom: 2px solid #fff;
    line-height: 60px;
    padding: 5%;
}
.small p {
    line-height: 60px;
    color:
}
.big {
    height: 100px;
    background-color: #d1d5d6;
}
